.navLink:hover {
    background:#01d201;
    color: white;
    /* #00fd00 */
  }
  .navLink:focus {
    border: 1px solid black;
    background:#01d201;
    color: white;
  }
  
  .navLink {
    color: #01d201;
    padding: 8px;
    /* outline: 2px solid black; */
  }
  
  .pageLogo {
    background-size: cover;
    background-image: url(../images/pic5.jpg);
    background-repeat: no-repeat;
  }
  

  
  
 
  