.container{
 border: 2px solid black;
 height: 25rem;
 width: 80rem;
 margin: auto;
 /* padding: ;    */
}
.toggleContainer{
    outline:2px solid red;
    text-align: center;
    display: flex;
    width: 40%;
    margin: auto;
    justify-content: space-around;
}
.activeToggleLevels{
    color: lime;
    border: 1px solid black;
    background: black;
    border-radius: 3px;
    padding: 2px 3px;
    font-weight: 500;
}
.toggleLevels{
    border: 1px solid black;
    border-radius: 3px;
    padding: 2px 3px;
    font-weight: 500;
}


.productContainer{
    outline: 2px solid green;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    /* trying to figure out how to make the cards stack ontop each other
    when the row is already full */
    margin: auto;
    /* max-height: 100%; */
}
.product{
    height: 10rem;
    width: 10rem;
}