.navLink:hover {
  background: rgb(52, 85, 1);
  color: white;
}
.navLink:focus {
  border: 2px solid black;
}

.navLink {
  padding: 8px;
  /* outline: 2px solid black; */
}

.pageLogo {
  background-size: cover;
  background-image: url(./assets/Emblem/pic5.jpg);
  background-repeat: no-repeat;
}

.testimonialCard {
  background: url(./assets/Emblem/pic4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 17rem;
  border: 2px solid black;
  width: 13rem;
  border-radius: 5px;
}

.cardInfo {
  display: none;
}

.testimonialCard:hover > .cardInfo {
  color: white;
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
