.navLink:hover{
  background: rgb(52, 85, 1);
  color: white;
}
.navLink:focus{
  border: 2px solid black;

}

.navLink{
  padding: 8px;
  /* outline: 2px solid black; */
}

.pageLogo{
  background-size: cover;
  background-image: url(./assets/Emblem/pic5.jpg);
  background-repeat: no-repeat;
}



.testimonialCard{
  border: 2px solid black;
  width: 15rem;
  border-radius: 5px;
}
.testimonialCardInfo{
  display: none;
}
.testimonialCardInfoshow{
  display: block;
}